.navbar{
    a{
        @include typography("STC-Medium" , 13px , 15.6px , 700);
    }
    .full-height-border{
        position: relative;
       
       &::before{
        content: '';
        position: absolute;
        left: -5px; 
        top: -20px;
        bottom: 0;
        width: 5px; 
        background-color: $white;
        height: 70px;
       } 
    }
 
}