@font-face {
    font-family: STC-BOLD;
    src: url("../font/alfont_com_AlFont_com_STC-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: STC-REGULAR;
    src: url("../font/FontsFree-Net-STC-Forward-Regular-1.ttf") format("truetype");
  }
  @font-face {
    font-family: STC-MEDIUM;
    src: url("../font/STC Forward Medium.ttf") format("truetype");
  }
 