.mb5{
    margin-bottom: 5px !important;
}

.mt-60{
    margin-top: 60px;
}
.mt-22{
    margin-top: 22px;
}
.mt-34{
    margin-top: 34px;
}
.mt-28{
    margin-top: 28px;
}
.mt-21{
    margin-top: 21px;
}
.mt-50{
    margin-top: 50px;
}
.px-30{
    padding-left: 30px;
    padding-right: 30px;
}
.px-25{
    padding-left: 25px;
    padding-right: 25px;
}
.py-7{
padding-top: 7px;
padding-bottom: 7px;
}
.ml-36{
    margin-left: 36px;
}
.mb-16{
    margin-bottom: 16px;
}

.mb-30{
    margin-bottom:30px ;
}
.w-35{
    width: 35%;
}
.w-28{
    width: 28%;
}