.illustration{
    position: relative;
    top: -100px;
    .illustration-btn{
        button{
            border-radius: 200px;
            width: 102px;
            border: none;
            padding: 6px 0;
        }
    }
}