<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly progress</title>
</head>
<body>
    <section class="weekly-progress box-shadow-card primarybackground-bg round-8 col-4-Desktop col-12-sm col-6-lg ">
        <div class="p-28 ">
            <div class="d-flex justify-content-between p-relative align-center">
                <div class="weekly-progress-content  mb-48">
                    <h2 class="text-large-medium darkgray mb-11">Weekly Progress</h2>
                    <p class="text-small-light opacity-50 charcoalblue ">Start from Nov 7-14, 2020</p>
                </div>
                <div class="p-absolute top-0 right-0">
                    <svg width="17" height="4" viewBox="0 0 17 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="2" cy="2" r="2" fill="#A8B5CB"/>
                        <circle cx="8.40009" cy="2" r="2" fill="#A8B5CB"/>
                        <circle cx="14.8001" cy="2" r="2" fill="#A8B5CB"/>
                        </svg>
                        
                </div>
            </div>
            <div class="progress-container p-bottom-12 mb-16 p-relative d-flex align-center justify-content-center">
               
                <svg class="p-relative ">
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="content  p-absolute d-flex flex-column justify-content-center  align-center h-100  top-0 left-25">
                    <p class="text-xlarge-semibold emeraldgreen ">75%</p>
                    <span class="text-small-light-medium darkgray">Task completed</span>
                </div>
            </div>
              
        </div>
    </section>
</body>
</html>