<section class="container mb-lg-3 mb-md-5 mb-sm-5">
    <h2 class="fw-bold black-80 font-6-desktop line-height-2-desktop font-2-ipad font-2-iphone line-height-2-ipad line-height-2-iphone ">{{Title}}</h2>
    <div class="row">
        <div class="img col-lg-9 position-relative">
            <img class="w-100 d-block" [src]="imageUrl" alt="swimming-race"/>
            <div class="img-content ps-4 pb-3 position-absolute bottom-0">
                <p class="white-30 fw-bold font-7-desktop font-3-ipad font-1-iphone line-height-5-desktop line-height-3-ipad line-height-1-iphone ">Massa tortor nibh nulla condimentum imperdiet scelerisque...</p>
                <span class="white-30 me-4 fw-normal  font-5-desktop font-4-ipad font-4-iphone line-height-3-desktop line-height-6-ipad line-height-3-iphone">2 Hours Ago</span>
                <span class="white-30 fw-normal font-5-desktop font-4-ipad font-4-iphone line-height-3-desktop line-height-6-ipad line-height-3-iphone ">CNN Indonesia</span>
            </div>
        </div>
        <div class="col-lg-3 d-none d-lg-block ">
          <p class="fw-normal black font-3-desktop line-height-4-desktop">
           <span class="fw-normal black opacity-60 font-2-desktop line-height-3-desktop">Nisi,</span> sagittis aliquet sit rutrum. Nunc, id vestibulum quam ornare adipiscing. Pellentesque sed turpis nunc gravida pharetra, sit nec vivamus pharetra. Velit, dui, egestas nisi, elementum mattis mauris, magnis. Massa tortor nibh nulla condimentum imperdiet scelerisque... read more
          </p>
        </div>
    </div>
</section>