<section >
<div>
    <div class="img">
        <img class="w-100 d-block" [src]="product.imageUrl" alt="img-news"/>
    </div>
    <div class="description mt-2">
        <p class="fw-bold mb-0 mb-lg-3  mb-sm-0 black-80 font-4-desktop font-6-ipad font-1-iphone line-height-7-desktop line-height-6-ipad line-height-1-iphone ">{{product.description}}</p>
    </div>
    <div class="final-news">
        <span class="me-2 black-20 fw-normal font-5-desktop font-7-ipad font-4-iphone line-height-8-desktop line-height-7-ipad line-height-6-iphone ">{{product.time}}</span>
        <span class="black-20 fw-normal font-5-desktop font-7-ipad font-4-iphone line-height-8-desktop line-height-7-ipad line-height-6-iphone">{{product.channel}}</span>
    </div>
</div>
</section>