@media (min-width:1200px){
    @include grid-system("Desktop");
    .recentactivity{
    
        position: relative;
        top: -100px;
    }
    .Progress{
        position: relative;
        top: -130px;
      
    }
    .labels{
        position: relative;
        top: -100px;
      
    }
    .button{
        position: relative;
         top: -170px;
    }
}