@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font:"Poppins", sans-serif;
.text-xlarge-semibold {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
}
.text-large {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.3px;
}
.text-large-bold{
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.text-large-medium {
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.3px;
}
.text-medium-large {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.3px;
}
.text-logo{
font-size: 12px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0.5px;
}
.text-small-medium {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.text-medium-small {
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.5px;
}
.text-medium-20 {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.3px;
}
.text-medium-regular {
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.5px;
}
.text-medium-regular-200{
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.5px;
}
.text-medium-semibold {
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.5px;
}
.text-medium-22 {
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.3px;
}
.text-small-semibold {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.5px;
}
.text-xsmall-medium {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.5px;
}
.text-small-light-medium {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.5px;
}
.text-small-light {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.3px;
}

.text-small-light-medium {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.3px;
}
.text-small-light-22 {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.3px;
}
.text-medium-small-23 {
    font-size: 12px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.3px;
}
.text-small-bold {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.5px;
}
.text-medium-bold {
    font-size: 12.25px;
    font-weight: 700;
    line-height: 13.13px;
    letter-spacing: 0.2625px;
}
.text-light-medium-21 {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.3px;
}
.text-xsmall-light {
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.5px;
}
