@media screen and (min-width: $media-sm-min ) and (max-width: $media-sm-max) {
   .flex-column{
    @include flex-dir(column);
   }
   .text-center{
      @include text-align(center);
   }
   @include grid-system("sm") ;
   .recentactivity{
      top: 0 !important;
   }
      
   .Progress{
      top: 0 !important;
      
  }
  .labels{
   top: 0 !important;
}
.button{
top: 0 !important;
}
ul{
   display: none !important;
}
}

  