.p-relative {
    position: relative;
}
.p-absolute{
    position: absolute;
}
.p-fixed {
    position: fixed;
}
.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}
.left-50{
    left: 50%;
}
.right-0{
    right: 0;
}
.transform-translate-middle-x-50{
    transform: translateX(-50%);
}
.transform-translate-middle{
    transform: translate(-50% , -50%);
}
.top-7{
    top: 7px;
}
.right-7{
    right: 7px;
}
.top-50{
    top: 50%;
}
.top-25{
    top: 25%;
}
.top-62{
    top: 62%;
}
.top-40{
    top: 40%;
}