@media (min-width:$media-md-min){
    @include grid-system("lg");
    .recentactivity{
        top: 0 ;
     }
        
     .Progress{
        top: 0 ;
        
    }
    .labels{
     top: 0 ;
  }
  .button{
  top: 0 ;
  }
}