$primarybackground:#ffffff;
$bluecolor:#08A0F7;
$darkgray: #121212;
$lavenderblue : #7784EE;
$oceanblue: #1778B0;
$mintgreen:#46BD84;
$mediumgreen:#34A770;
$charcoalblue: #41475E;
$emeraldgreen: #33AC72;
$lavenderblue-100:#D2D7FF;
$slateblue:#5F6DDD;
$dangercolor:#F85640;
$darkred:#79170A;
$blushwhite:#FFF8F8;
$peachwhisper:#FFF8EF;
$pastelteal:#DCF3EB;
$airyfeel:#E1F2FC; 
$deepsaffron:#FBA63C;
$goldenorange:#E18109;
$rustyorange: #BC741A;
$deepgreen: #13854E;
$deepjunglegreen:#10673E;
$brightskyblue:#08A0F7;
$skyblue:#3387B7; 
$shadow-color:#7784EE4D;
$gray:#F4F7FC;
$light-gray-100:#F0F5FC;
$body-background:#eaeef6;

// media-queries
// small media query
$media-sm-min:368px;
$media-sm-max:767px;

$media-md-min:768px;
$media-md-max:1199px;

//spacing
$spacing-top-28: 28px;
$spacing-bottom-28: 28px;


// progress colors 
$progress-purple-container:rgb(157, 28, 178 , 0.1) ;
$progress-success-container:rgb(52, 167, 112 , 0.1);
$progress-secondary-container:rgb(8, 160, 247 , 0.1);
$progress-purple-bar:#D459E8;
$progress-success-bar:#46BD84;
$progress-secondary-bar:#08A0F7;

// button colors
$btn-primary-bg: #7784EE;
$btn-loading-bg:#D2D7FF;
$btn-outline: transparent;
$btn-illustration:rgba(8, 160, 247 , 0.2) ;