.w-38{
    width: 38%;
}
.w-60{
    width: 60%;
}
.w-28{
    width: 28%;
}
.w-32{
    width: 32%;
}
.w-100{
    width: 100%;
}
.w-33{
    width: 33.33%;
}
.w-53{
    width: 53%;
}
.w-57{
    width: 57%;
}
.w-46{
    width: 46%;
}