@import '../Abstract/variables';
.navbar {
    .ellipse {
        width: 52.23px; 
        height: 52.23px;
        background: linear-gradient(to bottom, $elipseColorone 90%, $elipseColortwo 10%); 
        border-radius: 50%; 
        box-shadow: 0 14.92px 14.92px 0 $shadowcolor ; 
    }
    .nav-link {
        position: relative;
        &.active::before{
            content: '';
            position: absolute;
            bottom: 2px; 
            left: 35%;
            transform: translateX(-50%);
            width: 40%;
            height: 2.5px;
            background-color:$border-100 ; 
        }
    }
    
    
    
}