.button{
    position: relative;
     top: -170px;
    .btn{
        button{
            width: 100%;
            padding: 14px 0;
            border: none;
            border-radius: 8px;
        }
        .btn-primary{
            background-color:$btn-primary-bg ;
           
        }
        .btn-loading{
            background-color: $btn-loading-bg;
          
        }
        .btn-outline{
            background-color: $btn-outline;
            border: 1px solid $lavenderblue;
        }
    }
}