<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side</title>
</head>
<body>
    <aside class="col-2 side px-0 primary-background-bg  min-vh-100" >
        <ul>
         <li class="text-white nav-item mt-60 px-30" ><a href="#Dashboard" class="nav-link">Dashboard</a></li>
         <li class="text-white nav-item mt-22 px-30"><a href="#My Customers" class="nav-link">My Customers</a></li>
         <li class="text-white nav-item mt-34 px-30"><a href="#Community" class="nav-link">Community</a></li>
         <li class="text-white nav-item mt-28 px-30"><a href="#Leaderboard" class="nav-link">Leaderboard</a></li>
         <li class="text-white nav-item mt-28 px-30"><a href="#Products" class="nav-link">Products</a></li>
         <li class="text-white nav-item mt-28 px-30"><a href="#FAQs" class="nav-link">FAQs</a></li>
         <li class="text-white nav-item mt-28 px-30"><a href="#Surveys" class="nav-link">Surveys</a></li>
         <li class="text-white nav-item mt-21 py-7 border-left-coral px-25 darkpurple-bg"><a href="#Activities" class="nav-link">Activities Management</a></li>
        </ul>
    </aside>

</body>
</html>