<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
</head>
<body>
    <section class="Alert col-5-Desktop col-6-lg col-12-sm text-center ">
        <div>
            <div class="alert p-20 mb-16  alert-danger border-danger">
                <div class="d-flex gap-20 align-center ">
                  <div>
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="14" cy="14" r="14" fill="#F85640"/>
                        <path d="M15.75 8.35L15.51 15.595H13.74L13.485 8.35H15.75ZM14.67 19.105C14.29 19.105 13.975 18.99 13.725 18.76C13.485 18.52 13.365 18.225 13.365 17.875C13.365 17.525 13.485 17.235 13.725 17.005C13.975 16.765 14.29 16.645 14.67 16.645C15.04 16.645 15.345 16.765 15.585 17.005C15.825 17.235 15.945 17.525 15.945 17.875C15.945 18.225 15.825 18.52 15.585 18.76C15.345 18.99 15.04 19.105 14.67 19.105Z" fill="white"/>
                        </svg>
                  </div>
                   <div class="text-content-alert">
                    <h4 class="text-danger text-large-bold">Someting wrong</h4>
                    <p class="text-danger-200 text-xsmall-light">Lorem ipsum dolor sit amet</p>
                   </div>
                </div>
            </div>
            <div class="alert mb-16 p-20 alert-warning border-warning">
                <div class="d-flex gap-20 align-center ">
                  <div>
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="14" cy="14" r="14" fill="#FBA63C"/>
                        <path d="M14.1 9.7C13.73 9.7 13.42 9.585 13.17 9.355C12.93 9.115 12.81 8.82 12.81 8.47C12.81 8.12 12.93 7.83 13.17 7.6C13.42 7.36 13.73 7.24 14.1 7.24C14.47 7.24 14.775 7.36 15.015 7.6C15.265 7.83 15.39 8.12 15.39 8.47C15.39 8.82 15.265 9.115 15.015 9.355C14.775 9.585 14.47 9.7 14.1 9.7ZM15.135 10.69V19H13.035V10.69H15.135Z" fill="white"/>
                        </svg>
                        
                  </div>
                   <div class="text-content-alert">
                    <h4 class="text-warning text-large-bold ">Need Attention</h4>
                    <p class="text-warning-200 text-xsmall-light">Adipiscing elit, sed do eiusmod</p>
                   </div>
                </div>
            </div>
            <div class="alert mb-16 p-20 alert-success border-success">
                <div class="d-flex gap-20 align-center ">
                    <div>
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14" r="14" fill="#34A770"/>
                            <path d="M10.1494 14.6833L13.4492 17.9831L20.0489 11.3835" stroke="white" stroke-width="1.45814" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                            
                    </div>
                    <div class="text-content-alert">
                        <h4 class="text-success text-large-bold ">Success</h4>
                        <p class="text-success-200 text-xsmall-light">consectetur adipiscing elit sed</p>
                       </div>
                </div>
            </div>
            <div class="alert  p-20 alert-secondary border-secondary">
                <div class="d-flex gap-20 align-center ">
                    <div>
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14" r="14" fill="#08A0F7"/>
                            <path d="M10.1494 14.6833L13.4492 17.9832L20.0489 11.3835" stroke="white" stroke-width="1.45814" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                                                     
                    </div>
                    <div class="text-content-alert">
                        <h4 class="text-secondary text-large-bold ">Other Condition</h4>
                        <p class="text-secondary-200 text-xsmall-light">consectetur adipiscing elit sed</p>
                       </div>
                </div>
            </div>
        </div>
    </section> 
</body>
</html>