.nav{
    .search-btn{
        svg{
            margin-right: 25px;
        }
        input {
            display: block;
            background-color: transparent;
            border: 0;
            outline: 0;
          
        }
    }
}