@import '_variables';
@import '_mixins';

#main  {
    #header{
    grid-column: 4/  13;
    grid-row: 1 /  2;
    margin-right: 20px;
    padding:{
        top: 30px;
        bottom:25.2px;
    }
    border-bottom: 3px solid $border-side;
    .d-flex{
        @extend %flex;
        .header-name h1{
            @include Typography(("Jua", sans-serif), 400, 24px, 30px)
        }
        .btn {
           
            .filter {
                    padding: 10px 11px;
                     border: none;
                    border-radius: 5px;
                    margin-right: 10px;
                    
            }
            .new-contact{
                vertical-align: top;
                padding: 11px 20px;
                border: none;
                background-color: $lightGreen-300;
                border-radius: 5px;
                a{
                    color: $PrimaryColor;
                    @include Typography(("Inter", sans-serif), 500, 15px, 18.15px )
                }
                 svg {
                    vertical-align: middle;
                    margin-bottom: 2px;
                }
            }
        }
    }
    }
    
}