@import "_variables";
%common{
    background-color: $section-background;
    padding: 19.82px 0px;
    border-radius: 20px;
    width: 600px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
    margin:56.56px auto;
    
}