@import '_variables';
@import '_mixins';

#main {
    #main-section {
        grid-column: 4/  10;
        grid-row: 2 / 6;
        margin-left: 10px;
        .row{
            .d-flex {
                .item {
                   
                    @extend %flex;
                    gap: 5px; 
                //    padding-right: 9px;
                //     padding-left:9px ;
                    padding-top: 6.5px;
                    padding-bottom: 6.5px;
                    margin: 15px 0;
                    border: 0.5px solid $border-section;
                    border-radius:10px ;
                   
                    .item-img {
                        width: 70px;
                        img {
                            width: 100%;
                        }
                    }
                    
                    .item-name {
                        h3 {
                            @include Typography(("Inter", sans-serif), 600, 20px, 24.2px);
                            margin-bottom: 10px;
                        }
                       p{
                        @include Typography(("Inter", sans-serif), 500, 15px, 18.15px)
                       }
                    }
                    .item-email , .item-phone {
                        @include Typography(("Inter", sans-serif), 600, 18px, 21.78px)
                    }
                }
            }
            
          
        }
    }
    .side-section{
        grid-column: 10/  13;
        grid-row: 2 / 6;
        .side-section-img {
            width:112.26px;
            margin: auto;
            margin-top: 113px;
            border:{
                left: 3px solid $border-side;
                right: 3px solid $border-side;
                bottom:3px solid $border-side ;
            }
            img {
                width: 100%;
            }
        }
        .side-section-content {
            text-align: center;
            h4 {
                margin:{
                    left: -15px;
                    top: 5px;
                    bottom: 5px;
                }
                @include Typography(("Jua", sans-serif), 400, 18px, 22.5px);
                color: $PrimaryColor;
            }
            p{
                margin-bottom: 80px;
                color: $Black-100;
                @include Typography(("Inter", sans-serif), 400, 18px, 22.5px);
            }
        }
        ul{
            margin-bottom: 35px;
            text-align: left;
            display: flex;
            background-color: $lightGray;
            justify-content: space-between;
            width: 300px;
            border-radius: 10px;
            // padding: 8px 3px;
            
            @for $i from 1 through 3 {
                li:nth-child(#{$i})  {
                    @include Typography(("Jua", sans-serif), 400, 15px, 18.75px);
                    p{
                        padding-left: 5px;
                           padding-top: 7px;
                           padding-bottom: 7px;
                       
                        width: 100.6px;
                       
                    }
                    @if $i == 1 {
                        
                        p{
                          color: $darkGreen;
                         background-color: $lightGreen;
                         border-radius: 10px;
                        }
                        
                    }
                }
            }
        }
        .item-bar-contact{
           .info {
            float: left;
            margin-bottom: 23px;
            @for $i from 1 through 3 {
                p{
                    @include Typography(("Inter", sans-serif), 500, 15px, 18.15px);
                    color: $Black-100;
                    margin-bottom: 2px; 
                }
                h5{
                    @include Typography(("Inter", sans-serif), 500, 15px, 18.15px);
                    color: $PrimaryColor;
                }
            }
           }
            .info-icon {
            margin-right: 10px;
            float: right;
           }
        }
       
    }
}