// color style
$body-background:#3f72af;
$section-background:#f9f7f7;
$btn-background:#AAAAAA;
$input-background:#AAAAAA;
$headingColor:#112D4E;
$ContentColor:#0000;
$lightBlue:#DBE2EF;
$blackColor:#000000;

// font styling
$Normal-weight:400;
$Normal-size:12px;
$Normal-lineHeight:13.79px;
$heavy-font:40px;
$heavy-lineHeight:45.96px;


// border styling 
$radius:5px;
$width:1px;
$color:#7D7C7C;
$placeholderColor:#7B7B7B;
// Alignment
$center:center;