// color styling
$PrimaryColor:#000000;
$lightBlack:#696969;
$Black-100:#7C7C7C;
$Black-200:#303030;
$lightGreen:#44DE6FF0;
$lightGray:#EEEEEE;
$lightGray-100:#D9D9D994;
$lightGreen-100:#89F2A6A8;
$lightGreen-200:#00C938;
$lightGreen-300:#55C875;
$lightYellow:#f2e189a8;
$darkGreen:#007521;
$darkYellow:#FFB422;
$lightBlue:#7FD1FFA8;
$darkBlue:#2681ED;
$border-color:#9A9A9A17;
$border-section:#8989896E;
$border-side:#9A9A9A17;