<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress</title>
</head>
<body>
    <section class="Progress col-12-sm p-28 box-shadow-card primarybackground-bg round-8 col-6-lg col-3-Desktop  ">
        <div>
            <h3 class="text-large-medium mb-22">Task Progress</h3>
            <div class="progress-task mb-24">
                <div class="progress-task-name mb-5 d-flex justify-content-between">
                    <div>
                        <h5 class="text-small-light-medium">Copywriting</h5>
                    </div>
                    <div>
                        <p class="text-small-light-medium">3/8</p>
                    </div>
                </div>
                <div class="progress-container  w-100 progress-purple-container-bg">
                    <div class="progress-bar h-5 w-38 progress-purple-bar-bg"></div>
                </div>
            </div>
            <div class="progress-task mb-24">
                <div class="progress-task-name mb-5 d-flex justify-content-between">
                    <div>
                        <h5 class="text-small-light-medium">Illustrations</h5>
                    </div>
                    <div>
                        <p class="text-small-light-medium">6/10</p>
                    </div>
                </div>
                <div class="progress-container w-100 progress-success-container-bg">
                    <div class="progress-bar h-5 w-60 progress-success-bar-bg"></div>
                </div>
            </div>
            <div class="progress-task mb-24">
                <div class="progress-task-name mb-5 d-flex justify-content-between">
                    <div>
                        <h5 class="text-small-light-medium">UI Design</h5>
                    </div>
                    <div>
                        <p class="text-small-light-medium">2/7</p>
                    </div>
                </div>
                <div class="progress-container w-100 progress-secondary-container-bg">
                    <div class="progress-bar progress-secondary-bar-bg h-5 w-28 "></div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>