// colors
$black-80 : #121221;
$white: #FFFFFF;
$black:#000000;
$white-30:#F8F8F8;
$black-20:#949494;

$font-sizes: (
  "desktop": (
    1: 16px,
    2: 36px,
    3: 18px,
    4: 24px,
    5: 12px,
    6: 48px,
    7: 32px
  ),
  "ipad": (
    1: 16px,
    2: 36px,
    3: 24px,
    4: 12px,
    5: 24px,
    6: 18px,
    7: 12px
  ),
  "iphone": (
    1: 16px,
    2: 36px,
    3: 18px,
    4: 8px,
    5: 24px
  )
);
$line-heights: (
  "desktop": (
    1: 21.33px,
    2: 56.25px,
    3: 64.8px,
    4: 32.4px,
    5: 48px,
    6: 18px,
    7: 31.99px,
    8: 14.06px,
    9: 42.19px
  ),
  "ipad": (
    1: 21.33px,
    2: 42.14px,
    3: 36px,
    4: 18px,
    5: 28.13px,
    6: 23.99px,
    7: 14.06px
  ),
  "iphone": (
    1: 21.33px,
    2: 42.19px,
    3: 21.33px,
    4: 12px,
    5: 28.13px,
    6: 9.38px
  )
);
